@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.navigimi {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px 104px;
    background: #fff;
    z-index: 9999;
    border-bottom: 1px solid #2e2b29;
    height: 80px;
}

#linqet_e_navigimit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#linqet_e_navigimit li {
    list-style: none;
    padding-right: 30px;
}

#linqet_e_navigimit li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #070606;
    padding: 10px 10px;
    font-family: Candara Light;
    cursor: pointer;
}

#linqet_e_navigimit li a:hover {
    color: #3a3838;
    border-bottom: 5px solid#3536368e;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-right: 1px solid#3536368e;
    border-top: 1px solid #3536368e;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-left: 1px solid#3536368e;
    transition: all 0.1s ease 0.1s;
}

#linqet_e_navigimit li a:active {
    border-bottom: 1px solid #3536368e;
    background-color: #f0eae6;
}

.button11 {
    display: inline-flex;
    height: 40px;
    width: 150px;
    border: 2px solid #0505058e;
    margin: 20px 20px 20px 20px;
    color: #0707078e;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.button11 a {
    color: #0000008e;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
}

#button-5 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#button-5 a {
    position: relative;
    transition: all .45s ease-out;
}

#translate {
    transform: rotate(50deg);
    width: 100%;
    height: 250%;
    left: -200px;
    top: -30px;
    background: #000000;
    position: absolute;
    transition: all .3s ease-Out;
}

#button-5:hover #translate {
    left: 0;
}

#button-5:hover a {
    color: #ffffff;
}

#bar {
    color: #ff5733;
    display: none;
}

.prapavija {
    background-image: url(../images/autumn2.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    z-index: -1;
}

.prapavija .prapavija1 {
    background: #171819;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.klasa1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.klasa1 p {
    color: #bfe4e7;
    font-size: 20.8px;
    font-weight: 700;
    margin-bottom: 22.4px;
}

.klasa1 h2 {
    color: #fff;
    font-size: 48px;
}

.klasa1 .linqe {
    margin-top: 20px;

}

.klasa1 .linqe a {
    text-decoration: none;
    text-transform: uppercase;
}

.klasa1 .linqe a.simple {
    color: #fff;
    font-weight: 700;
    padding: 14.4px 25.6px;
}

.klasa1 .linqe a.simple:hover {
    color: #ff5733;
    font-weight: 780;
    transition: all 0.3s ease 0s;
}

.klasa1 .linqe a.border {
    color: #ff5733;
    border: 1px solid #ff5733;
    font-weight: 500;
    padding: 14.4px 25.6px;
    border-radius: 3px;
}

.klasa1 .linqe a.border:hover {
    background-color: #fff;
    border: 1px solid #fff;
    font-weight: 700;
    transition: all 0.3s ease 0s;
}

.Te_dhena {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 128px 240px;
    background-color: #171819;
}

.Te_dhena h3,
h6,
h5 {
    color: #fff;
}

.Te_dhena .one {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.Te_dhena .one h3 {
    font-size: 40px;
    padding-bottom: 17.6px;
}

.Te_dhena .one h6 {
    font-size: 20.8px;
    font-weight: 400;
    padding-bottom: 19.2px;
}

.Te_dhena .one p {
    color: #666262;
    font-size: 19.2px;
    padding-bottom: 48px;
}

.Te_dhena .one a {
    color: #fff;
    background-color: #f13a11;
    padding: 16px 0;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

.Te_dhena .one a:hover {
    background-color: #fff;
    color: #f13a11;
    transition: all 0.3s ease 0s;
    font-weight: 600;
}

.Te_dhena .two {
    width: 45%;
    border-left: 1px solid #666262;
    padding-left: 64px;
}

.Te_dhena .two h3 {
    font-size: 40px;
}

.Te_dhena .two h5 {
    font-size: 17.6px;
}

.Te_dhena .two p {
    font-size: 17.6px;
    color: #666262;
    margin-bottom: 12.8px;
}

.klasa2 {
	background-color: #f9f9f9;
	padding: 128px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.klasa2 .about {
	width: 39%;
}

.klasa2 .about h2 {
	color: #212529;
	font-size: 33.6px;
	padding-bottom: 28.8px;
}

.klasa2 .about p {
	color: #7f8c8d;
	font-size: 17.6px;
}

.klasa2 .travel {
	width: 57%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.klasa2 .travel .team1 {
	width: 45%;
	height: auto;
	box-sizing: border-box;
	background-color: #fff;
	box-shadow:
		0 0px 0.7px rgba(0, 0, 0, 0.233),
		0 0px 1.9px rgba(0, 0, 0, 0.333),
		0 0px 3.8px rgba(0, 0, 0, 0.417),
		0 0px 7.6px rgba(0, 0, 0, 0.517),
		0 0px 21px rgba(0, 0, 0, 0.75)
}

.klasa2 .travel .team1 .img img {
	width: 100%;
	object-fit: cover;
}

.klasa2 .travel .team1 .name,
.klasa2 .travel .team1 .pro {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.klasa2 .travel .team1 .name {
	padding: 5px 20px 0 20px;
}

.klasa2 .travel .team1 .teamDetails {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 10px;
}

.klasa2 .travel .team1 .name h4 {
	color: 212529;
	font-size: 24px;
}

.klasa2 .travel .team1 .name i,
.klasa2 .travel .team1 .pro i {
	font-size: 20.8px;
	font-weight: bolder;
	cursor: pointer;
	color: 212529;
}

.klasa2 .travel .team1 .pro {
	padding: 0 20px 5px 20px;
}

.klasa2 .travel .team1 .pro p {
	color: 212529;
}
footer {
	background-color: #998c85;
	line-height: 24px;
	color: white;
}

.art {
	background-color: #171819;
	padding: 16px;
	padding-top: 48px;
	clip-path: polygon(0% 5%, 15% 0%, 100% 10%, 100% 100%, 0% 100%);
}

.content {
	max-width: 1080px;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 16px;
}

footer header {
	font-size: 25px;
	padding: 16px;
}

.content a {
	font-size: 20px;
	text-decoration: none;
	display: block;
	padding: 16px;
	color: white;
	opacity: 0.65;
}

.content a:hover {
	opacity: 1;
	color: #998c85;
	font-size: 17px;
	transition: all 0.3s ease 0s;
}

footer input {
	border-style: solid;
	line-height: 24px;
	padding: 12px 16px;
	font-size: 1rem;
	width: 80%;
	margin: 8px;
	border-radius: 8px;
	border-width: 2px;
}

footer input[type='mail'] {
	background-color: transparent;
	border-color: white;
	color: white;
}

footer input[type='mail']:hover,
footer input[type='mail']:focus {
	border-color: #ffff00;
	color: #ffff00;
	transition: all 0.3s ease 0s;
}


footer a {
	text-decoration: none;
	margin: 0%;
	padding: 0%;
}

.social {
	margin: 16px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 16px;
}

.social i {
	font-size: 32px;
	padding: 8px;
	text-align: center;
	border: 1px solid #ffff0031;
	border-radius: 8px;
	width: 100%
}

.social a {
	text-decoration: none;
	margin: 0%;
	padding: 0%;
}

.social i:hover {
	color: #ffff00;
	border-color: #ffff00;
	box-shadow: 0px 0px 16px inset #ffff0031;
	transition: all 0.3s ease 0s;
}

.notice {
	text-align: center;
	padding: 24px;
}

.notice strong {
	color: red;
	text-transform: uppercase;
}